/*tab*/
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* tab 按鈕 */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}


/* tab 碰到 */
.tab button:hover {
  background-color: rgb(161, 168, 228);
}

/* tab 目前的頁面 */
.tab button.active {
  background-color: rgb(226, 174, 32);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 40px 100px;
  border: 1px solid #ccc;
  border-top: none;
}
.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
* {
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 100%;
    margin: 0 auto;
    padding-left: 20
}
header {
	height: 100px;
	background: #262626;
	width: 100%;
	z-index: 10;
	position: fixed;
}
/*Helen*/
.logo {
	width: 30%;
	float: left;
	line-height: 100px;
}

.logo a {
	text-decoration: none;
	font-size: 30px;
	font-family: poppins;
	color: #fff;
	letter-spacing: 5px;
}
/*home portfolio*/
nav {
	float: right;
	line-height: 100px;
}
nav a {
	text-decoration: none;
	font-family: poppins;
	letter-spacing: 4px;
	font-size: 20px;
	margin: 0 10px;
	color: #fff;
}
/*tab以下*/
.ContentArea {
	width: 100%;
	position: relative;
	top: 100px;
	height:670px;
}
.ContentArea h2 {
	font-family: poppins;
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}
/*Welcome TO Helen*/
.ContentArea p {
	padding: 2% 0px;/*padding-top (上)
                    padding-right (右)
                    padding-bottom (下)
                    padding-left (左)*/
	font-family: poppins;/*字型*/
    line-height: 30px;/*每一行之間的空間*/
    letter-spacing:8px;/*字寬*/
    
}
/* 註冊那*/

 /*Personal Profile From 原本左右邊再想要不要加東西*/
.wrapper2{
	min-height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
 /*Personal Profile From*/
.PersonalProfileForm{
	background: #545871;
	padding: 5px;
	border-radius: 5px;
	width: 600px;
}

.PersonalProfileForm .title{
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	color: #ebd0ce;
	letter-spacing: 5px;
	font-weight: 700;
}
/* /*Personal Profile From以下的內容*/
.FormWrap{
	margin-top: 10px;
}
/*每個輸入的欄位ex 暱稱:*/
.FormWrap .InputWrap{
	margin-bottom: 15px;
}



.FormWrap .InputWrap label{
	display: block;
	margin-bottom: 5px;
	color: #9597a6;
}



.FormWrap  input[type="text"] .FormWrap input[type="password"]{
	width: 80%;
	border-radius: 3px;
	border: 1px solid #1c2988;
	padding: 10px;
	outline: none;
}
/*當點擊到此input 但感覺沒用*/
.FormWrap  input[type="text"]:focus{
	border-color: #e0cfce;
}

.FormWrap ul{
	background: rgb(76, 93, 170);
	padding: 8px 10px;
	border-radius: 3px;
	display: flex;
	justify-content: center;
}

/*edit按鈕*/
.FormWrap .PersonEditBtn{
	width: 10%;
	background: #8f8ba5;
	padding: 10px;
	border: 0;
	border-radius: 3px;
	text-transform: uppercase;
	letter-spacing: 3px;
    cursor: pointer;
    
}

.FormWrap .PersonEditBtn:hover{
	background: #d1c19dbb;
}
.FormWrap .PasswordEditBtn{
	width: 10%;
	background: #8f8ba5;
	padding: 10px;
	border: 0;
	border-radius: 3px;
	text-transform: uppercase;
	letter-spacing: 3px;
    cursor: pointer;
    
}

.FormWrap .PasswordEditBtn:hover{
	background: #d1c19dbb;
}
/*收藏目錄*/

/*每個板*/
.Page {
	padding-bottom: 25px;
	background: #fff;
	text-align: center;
	overflow: hidden;
	position: relative;
	transition: all 0.3s ease-in-out;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
}
.Page a {
	background: rgb(80, 78, 82);
	color: #fff;
	padding: 15px 30px;
	text-decoration: none;
	border-radius: 25px;
	display: inline-block;
}
.Page:hover {
	cursor: pointer;
	box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1);
	transform: scale(1.04);
	transform: rotate3d(1, 0, 0, -30deg);
	opacity: 1;
	
}
.Page::before {
	content: "";
	width: 100%;
	height: 350px;
	background: rgba(85, 47, 104, 0.473);
	position: absolute;
	top: -150px;
	left: 0;
	transform: skewY(-20deg);
}
/*增加文章分類的+按鈕*/
.InputWrap button{
	background-color: rgb(172, 151, 185);
	border-radius: 3px;
	border: 0;
	cursor: pointer;
	width: 10%;
}
.InputWrap button:hover{
	background-color: rgb(167, 114, 173);
	border-radius: 3px;
	border: 0;
	cursor: pointer;
	width: 10%;
}
.Page .PageName {
	display: inline-block;
	width: 170px;
	height: 110px;
	padding: 15px;
	border-top: none;
	border-bottom: none;
	position: relative;
}
.Page .value {
	width: 100%;
	height: 100%;
	background: #fff;
	border: 5px solid #262626;
	border-top: none;
	border-bottom: none;
	z-index: 1;
	position: relative;
}
.Page .value::before, .Page .value::after {
	content: "";
	width: 97px;
	height: 97px;
	background: #fff;
	border: 5px solid #262626;
	border-bottom: none;
	border-right: none;
	position: absolute;
	top: -48px;
	left: 50%;
	z-index: -1;
	transform: translateX(-50%) scaleY(0.5) rotate(45deg);
}
.Page .value::after {
	border-right: 5px solid #262626;
	border-bottom: 5px solid #262626;
	border-top: none;
	border-left: none;
	top: auto;
	bottom: -48px;
}
.Page .currency {
	display: inline-block;
	font-size: 30px;
	margin-top: 7px;
	vertical-align: top;
}
.Page .WhichPage {
	display: inline-block;
	font-size: 40px;
	font-weight: 600;
	line-height: 65px;
}
.Page .WhichPage span {
	display: inline-block;
	font-size: 30px;
	font-weight: normal;
	vertical-align: top;
	margin-top: -7px;
}

.Page .deals {
	padding: 70px 0 0 0;
	margin-bottom: 20px;
	list-style: none;
	text-align: center;
	transition: all 0.3s ease 0s;
}
.Page .deals li {
	padding: 7px 0;
	font-size: 16px;
	color: #808080;
	position: relative;
}
@media only screen and (max-width: 990px) {
	.Page {
		margin-bottom: 30px;
	}
}
@media only screen and (max-width: 767px) {
	.Page:before {
		transform: skewY(-15deg);
	}
	.Page .title {
		font-size: 22px;
	}
}
/*發文紀錄*/
/*粉紅那塊*/
.PostBox{
	background-color: #dfd7d7;
	padding: 5%;
}
/*文章名子:漫威版 美國隊長也太帥了吧!那欄*/
.PostBox1{
	background-color: aliceblue;
	width: 300px;
	border-radius: 5px;
	
}
.PostBox button/*發文紀錄的按鈕*/{
	background-color: rgb(216, 192, 196);
	border-radius: 3px;
	border: 0;
	cursor: pointer;
	width: 10%;
}
.PostBox button:hover{
	background-color: rgb(190, 136, 149);
	border-radius: 3px;
	border: 0;
	cursor: pointer;
	width: 10%;
}
#color {
	position: relative;
	margin-inline-start: 41% ;
	width:100px;
	height:100px;
	border-right:100px solid green;
}