.tabContent{
	color:  #3c537c;
	background: #7c838f;
	text-align: center;
	font-size: 20px;
	font-family: poppins;/*字型*/
	font-weight: bold;
	padding: 10%;
	/*padding-top (上)
	padding-right (右)
	padding-bottom (下)
	padding-left (左)*/
}
.tabContent h2{
	letter-spacing: 10px;
	font-size: 50px;
}
.tabContent p{
	padding: 2%;
    line-height: 20px;/*每一行之間的空間*/
    letter-spacing: 10px;
}

.logo{
	height: 150px;
	width: 150px;
}

.contentArea{
	border-radius: 10px;
	background: #545871;
	color:  #c0c6cc;
	padding: 5%;
}

.content{
	border-radius: 10px;
	background: #e0d5d5;
	color: #545871;
	letter-spacing: 2px;
	padding: 5%;
}

table{
	width: 100%;
}

button{
	width: 125px;
}